.DS_Store
# framework files
#-------------------------
*/tmp/*
*/logs/*

*/cache/*
*/vendor/
*/composer.lock

# IDE Files
#-------------------------
/nbproject/
.idea/*
## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
*.sublime-project

